.wrap-radio {
   max-width: 1170px;
   background: #000000b8;
   margin: 100px auto;
   border-radius: 10px;
}

.channel-info {
   display: flex;
   &__top {
      display: flex;
      align-items: center;
      margin-bottom: 50px;
      padding-top: 50px;
      &-img {
         flex: 0 0 80px;
         height: 80px;
         border-radius: 5px;
         background-size: cover;
         margin-right: 15px;
         & > img {
            max-width: 100%;
         }
      }
   }
   &__title {
      font-family: Rubik;
      font-size: 30px;
      font-weight: 700;
   }
   &__subtitle {
      font-family: Arial;
      font-size: 28px;
      font-weight: 500;
      opacity: 0.7;
   }
   &__img {
      flex: 0 0 300px;
      height: 300px;
      border-radius: 5px;
      background-size: cover;
      margin-right: 30px;
   }
   &__block {
      margin-bottom: 20px;
   }
   &__box {
      border-bottom: 1px solid #fff;
      padding-bottom: 10px;
      margin-bottom: 20px;
   }
   &__heading {
      font-family: Rubik;
      font-size: 20px;
      opacity: 0.7;
   }
   &__text {
      font-family: Montserrat, Arial, "Helvetica Neue", Helvetica, sans-serif;
      margin-left: 10px;
   }
}

.channel-info__block-radio {
   display: flex;
   margin-left: 20px;
}

.btn {
   display: block;
   background: #272727;
   color: #ebba16;
   padding: 3px 10px;
   &:last-child {
      margin-left: 5px;
   }
   &:hover {
      color: #673476;
   }
   &:active {
      color: cornflowerblue;
   }
}

.social {
   display: flex;
   &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      color: #48729e;
      background-color: #ebba16;
      padding-right: 5px;
      margin-left: 20px;
      transition: 0.3s;
      &:hover {
         color: #fff;
         background-color: #48729e;
         transition: 0.3s;
      }
   }
}

.fa-vk::before {
   content: "\f189";
   font-family: FontAwesome;
}

.wrap-player {
   display: flex;
   justify-content: center;
}

.wrap-my_player {
   display: flex;
   align-items: center;
   margin-bottom: 20px;
}

.wrap {
   &-bottom {
      &__block {
         display: flex;
         align-items: center;
      }
      &__social {
         display: flex;
         align-items: center;
      }
   }
}

.channel-descr {
   padding: 50px 0;
   &__text {
      font-family: Montserrat;
      color: #ebba16;
      margin-top: 30px;
      max-width: 80%;
   }
   &__bold {
      font-family: Rubik;
      color: #058714;
   }
}

.history {
   &__song {
      min-width: 80%;
      padding-bottom: 50px;
   }
   &__title {
      display: block;
      margin-bottom: 20px;
   }
   &__singl {
      display: flex;
      flex-direction: column;
      &-img {
         width: 170px;
         height: 170px;
         border-radius: 4px;
         margin-bottom: 10px;
      }
      &-link {
         color: #ebba16;
         font-size: 16px;
         &:hover {
            text-decoration: underline;
         }
      }
   }
}

.my_lastsongs {
   display: flex;
   flex-wrap: wrap;
}

.my_songdivs {
   flex: 0 1 20%;
   padding-right: 40px;
   margin-bottom: 25px;
}

.my_player_adaptive {
   background: #ebba16 !important;
   max-width: 1170px;
   margin: 0 auto;
   top: auto;
   right: 0;
}

.my_player_adaptive .my_timer {
   color: #0c1b18 !important;
}
