@import "_null";
body {
	font-size: 20px;
	line-height: 150%;
	background: #333 url(../img/new-bg.jpg) 0 0 / cover no-repeat fixed;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #00b416;
}

img.body__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 10px;
}

@import "_header";
@import "_main";
@import "_media";
